# build output
dist/
.output/
_remote/
.astro/

# dependencies
node_modules/

# logs
*.log

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# auto-fetched at build time
/src/pages/igorskyflyer.md

# log file (internal)
log.txt

# internal assets
/assets
