*               text=auto

*               linguist-detectable

.vscode/**      -linguist-detectable
*.json          -linguist-detectable
*.md            -linguist-detectable
*.svg           -linguist-detectable
*.ini           -linguist-detectable
public/_headers -linguist-detecatable
