/* Chimera theme by Igor Dimitrijević (IgorSkyFlyer) */

:root {
  color-scheme: dark light;

  --main-bg: #060e24;
  --main-text: #fff;
  --border-radius: 6px;
  --accent: #3869c2;
  --meta: #003599;

  --link: rgb(14, 168, 255);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.8);
}

::-webkit-scrollbar-thumb {
  background: #09f;
}

::-webkit-scrollbar-thumb:hover {
  background: #11bce2;
}

html,
body {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  width: 100%;
  padding: 0;
  margin: 0;
  background: var(--main-bg);
  color: var(--main-text);
  font-family:
    'Poppins',
    -apple-system,
    BlinkMacSystemFont,
    avenir next,
    avenir,
    segoe ui,
    helvetica neue,
    helvetica,
    Cantarell,
    Ubuntu,
    roboto,
    noto,
    arial,
    sans-serif;
}

main a,
main a:visited {
  color: var(--link);
  text-decoration: none;
}

#menu a[href^='http']:before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E");
}

img {
  max-width: 100%;
  height: auto;
}

code {
  font-size: 1rem;
}

main {
  width: 90%;
  margin: 2.5rem auto;
}

header {
  margin-bottom: 0;
}

#menu-navigation {
  text-align: right;
  overflow: hidden;
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 2;
  margin-bottom: 0;
  display: flex;
  flex-direction: column-reverse;
}

blockquote {
  margin: 0;
}

:not(pre) > code,
pre {
  background: #0d1117;
  box-shadow: 0 0 18px inset #000;
}

:not(pre) > code {
  padding: 0.3rem;
  border-radius: 4px;
}

pre {
  border-radius: var(--border-radius);
  padding: 1rem;
  text-align: left;
}

.block--center {
  text-align: center;
  margin: auto;
}

#menu {
  display: flex;
  justify-content: end;
  flex-direction: column-reverse;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 0;
  margin: 0;
  margin-bottom: 1rem;
  z-index: 999;
  list-style-type: none;
  transition: height ease-in 0.15s;
  /* overflow: auto; */
}

#menu li {
  width: 100%;
}

#menu a {
  display: block;
  padding: 0.7rem;
  font-size: 1.4rem;
  color: var(--main-text);
  text-decoration: none;
  border-radius: var(--border-radius);
  transition: background ease-out 0.3s;
}

#menu a:hover {
  background: var(--accent);
}

#hamburger-icon {
  display: flex;
  height: 48px;
  width: 48px;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  z-index: 10;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: var(--border-radius);
  user-select: none;
  border: 2px solid rgba(255, 255, 255, 0);
  transition:
    background ease-out 0.2s,
    border linear 0.2s;
}

#hamburger-icon:hover {
  background: var(--accent);
  border: 2px solid rgba(255, 255, 255, 0.6);
	cursor: pointer;
}

#menu-toggle {
  display: none;
}

#hamburger-icon svg path {
  transition: d linear 75ms;
}

#menu-toggle:checked + #hamburger-icon svg path {
  d: path('M1 1h2M1 4h6M1 7h8');
}

#menu-toggle:checked ~ #menu-blur {
  top: 0;
}

#menu-toggle:checked ~ #menu {
  height: min(88dvh, 88vh);
  padding: 0;
}

#menu-blur {
  position: fixed;
  left: 0;
  right: 0;
  top: 100%;
  bottom: 0;
  z-index: 8;
  background: linear-gradient(310deg, #000, rgba(20, 73, 152, 0.5));
  transition: top ease-in 0.15s;
}

article h2 {
  color: #ddd;
}

.post--content {
  padding: 3rem 0 0 0;
}

footer {
  margin-top: 2rem;
  padding: 2rem 0.5rem 3.5rem 0.5rem;
  background: linear-gradient(to bottom, var(--main-bg), #052664);
  text-align: center;
  font-size: 0.9rem;
}

footer [data-icon] {
  width: 36px;
  height: 36px;
}

footer a {
  color: #fff;
}

.footer-link-icon {
  display: inline-block;
  width: 36px;
  height: 41.6px;
  margin: 0 0.3rem;
  opacity: 0.65;
  transition: opacity cubic-bezier(0.23, 1, 0.32, 1) 400ms;
}

.footer-link-icon:hover {
  opacity: 1;
}

#footer-author {
  color: var(--link);
  transition: font-weight cubic-bezier(0.55, 0.055, 0.675, 0.19) 100ms;
}

#footer-author:hover {
  font-weight: bold;
}

#footer-heart {
  color: #f00;
  font-size: 1.4em;
}

.utterances {
	max-width: 100%;
}

@media screen and (min-width: 600px) {
  header {
    margin-bottom: 2rem;
  }

  #menu-navigation {
    position: static;
    right: auto;
    left: auto;
    bottom: auto;
    margin-top: 0.5rem;
  }

  main {
    width: 85%;
  }

  #hamburger-icon {
    display: none;
  }

  #menu {
		position: static;
    flex-direction: row;
    justify-content: flex-end;
    height: auto;
    margin: 0 0.8rem 0 0;
		overflow: hidden;
  }

  #menu li {
    width: auto;
  }

  #menu a {
    padding: 0.5rem 0.8rem;
    font-size: 1rem;
    text-align: center;
  }

  #menu-blur {
    display: none;
  }

  #menu-toggle:checked ~ #menu {
    height: auto;
  }

  .post {
    padding: 1rem 3rem 3rem 3rem;
  }

  footer {
    font-size: 1.1rem;
  }

  footer [data-icon] {
    width: 48px;
    height: 48px;
  }
  .footer-link-icon {
    width: 48px;
    height: 55.2px;
  }
}
