@media screen and (min-width: 600px) {
  header {
    margin-bottom: 2rem;
  }

  nav {
    position: static;
    right: auto;
    left: auto;
    bottom: auto;
    margin-top: 0.5rem;
  }

  #hamburger-icon {
    display: none;
  }

  #menu {
    flex-direction: row;
    justify-content: flex-end;
    height: auto;
    margin: 0 0.8rem 0 0;
  }

  #menu li {
    width: auto;
  }

  #menu a {
    padding: 0.5rem 0.8rem;
    font-size: 1rem;
    text-align: center;
  }

  #posts {
    margin: auto;
    width: 80%;
  }

  .post-info {
    flex-direction: row;
    justify-content: space-between;
  }

  #menu-blur {
    display: none;
  }

  #menu-toggle:checked ~ #menu {
    height: auto;
  }
}
