:root {
  --main-bg: #221254;
  --main-text: #fff;
  --border-radius: 6px;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/font/Poppins.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122,
    U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
  /* dev: remove after */
  min-height: 98vh;
}

html,
body {
  padding: 0;
  margin: 0;
  background: var(--main-bg);
  color: var(--main-text);
  font-family: 'Poppins', sans-serif;
}

body {
  width: 96%;
  margin: 0 auto;
  padding: 0.4%;
  background: var(--main-bg);
}

body a, body a:visited {
 color: #11bce2;
 text-decoration: none;
}

main {
  padding: 2rem;
}

.post-link {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(17, 188, 226);
}

.post-more {
  display: inline-block;
  padding: 0.3rem 0.3rem 0.3rem 0;
  color: var(--main-text);
  opacity: 0.6;
  transition: opacity ease-out 0.15s;
}

.post-more:hover {
  opacity: 1;
}

header {
  margin-bottom: 0;
}

nav {
  text-align: right;
  overflow: hidden;

  /* test */
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
  margin-bottom: 0;
  display: flex;
  flex-direction: column-reverse;
}

#menu {
  display: flex;
  justify-content: end;
  flex-direction: column-reverse;
  height: 0;
  overflow: hidden;
  margin: 0 0 1.85rem 0;
  z-index: 2;
  list-style-type: none;
  transition: height ease-in 0.15s;
}

#menu li {
  width: 100%;
}

#menu a {
  display: block;
  padding: 0.7rem;
  font-size: 1.4rem;
  color: var(--main-text);
  text-decoration: none;
  border-radius: var(--border-radius);
  transition: background ease-out 0.3s;
}

#menu a:hover {
  background: rgb(93, 72, 154);
}

#hamburger-icon {
  display: block;
  margin-left: auto;
  z-index: 2;
  width: 3rem;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.6);
  font-size: 1.9rem;
  color: var(--main-text);
  text-align: center;
  border-radius: var(--border-radius);
  user-select: none;
  margin-right: 0.8rem;
  margin-bottom: 0.8rem;
  opacity: 0.5;
  transition: transform ease-in 0.2s, opacity ease-out 0.2s;
}

#hamburger-icon:hover {
  opacity: 1;
}

#menu-toggle {
  display: none;
}

#menu-toggle:checked + #hamburger-icon {
  transform: rotate(90deg);
}

#menu-toggle:checked ~ #menu-blur {
  top: 0;
}

#menu-toggle:checked ~ #menu {
  height: 80vh;
  padding: 0;
}

.post-info {
  display: flex;
  flex-direction: column;
  color: #9e9ece;
  font-size: 0.7rem;
}

.post-description {
  margin: 1.5rem 0 0 0;
  font-size: 0.95rem;
  color: #d4d4ff;
  text-align: justify;
}

#posts article {
  margin-bottom: 3rem;
}

#posts article a {
  display: block;
  margin: 0 0 0.5rem 0;
  text-decoration: none;
}

.post {
  color: #d4d4ff;
}

#menu-blur {
  position: fixed;
  left: 0;
  right: 0;
  top: 100%;
  bottom: 0;
  background: linear-gradient(310deg, #000, rgba(34, 18, 84, 0.5));
  transition: top ease-in 0.15s;
}

#post--all-posts {
 margin-left: -1.5rem;
 font-size: 1.4rem;
}

#post--all-posts:before {
 content: '\21E6\20';
 font-size: 1.5rem;
}

@media screen and (min-width: 600px) {
  header {
    margin-bottom: 2rem;
  }

  nav {
    position: static;
    right: auto;
    left: auto;
    bottom: auto;
    margin-top: 0.5rem;
  }

  #hamburger-icon {
    display: none;
  }

  #menu {
    flex-direction: row;
    justify-content: flex-end;
    height: auto;
    margin: 0;
  }

  #menu li {
    width: auto;
  }

  #menu a {
    padding: 0.5rem 0.8rem;
    font-size: 1rem;
    text-align: center;
  }

  #posts {
    margin: auto;
    width: 70%;
  }

  .post-info {
    flex-direction: row;
    justify-content: space-between;
  }

  #menu-blur {
    display: none;
  }

  #menu-toggle:checked ~ #menu {
    height: auto;
  }
}
