---
import Page from '@components/Page.astro'
import { SiteName } from '@data/Site'
---

<Page
  title={`About | ${SiteName}`}
  description="About"
  keywords="about,blog,igorskyflyer,igor dimitrijević,posts,it,javascript,typescript,code,programming,developer"
  featuredImage="">
  About
  <br />
  <a href="/changelog/">Changelog</a>
</Page>
