---
import Page from '@components/Page.astro'
---

<Page
  title="About | Igor Dimitrijević"
  description="About"
  keywords="about,blog,igorskyflyer,igor dimitrijević,posts,it,javascript,typescript,code,programming,developer"
  featuredImage=""
>
  About
  <br />
  <a href="/changelog/">Changelog</a>
</Page>
