---
import Page from '@components/Page.astro'
import PostsDisplay from '@components/PostsDisplay.astro'

const title = 'Blog | Igor Dimitrijević'
const description = 'My own blog'
const posts = await Astro.glob('./blog/*.md')
const postsCount = posts.length
---

<style>
  .post-link {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1.4rem;
    font-weight: bold;
    color: rgb(17, 188, 226);
  }

  .post-more {
    display: inline-block;
    padding: 0.3rem 0.3rem 0.3rem 0;
    color: var(--main-text);
    opacity: 0.6;
    transition: opacity ease-out 0.15s;
  }

  .post-more:hover {
    opacity: 1;
  }

  .post-info {
    color: #9e9ece;
    font-size: 0.85rem;
  }

  .post-description {
    margin: 1.5rem 0 0 0;
    font-size: 0.95rem;
    color: #d4d4ff;
    text-align: justify;
  }

  #posts article {
    margin-bottom: 3rem;
  }

  .post {
    text-align: justify;
    color: #d4d4ff;
  }

  #post--all-posts {
    margin-left: -0.5rem;
    font-size: 1.25rem;
  }

  #post--all-posts:before {
    content: '\02770\20';
  }

  .post--inner {
    padding: 0.25rem;
  }

  .post--meta {
    display: flex;
    justify-content: space-between;
  }

  @media screen and (min-width: 600px) {
    #posts {
      margin: auto;
      width: 80%;
    }

    .post-info {
      flex-direction: row;
      justify-content: space-between;
    }
  }
</style>

<Page title={title} description={description}>
  <section id="posts">
    <h2 style="margin-top: 0; text-align: center">All posts ({postsCount})</h2>
    <br />
    <br />
    <PostsDisplay {posts} />
  </section>
</Page>
