---
import Page from '@components/Page.astro'
import PostsDisplay from '@components/PostsDisplay.astro'

const title = 'Blog | Igor Dimitrijević'
const description = 'My own blog'
const posts = await Astro.glob('./blog/*.md')
---

<style>
  #posts--heading {
    font-size: 1.5rem;
    margin-top: 0;
    text-align: center;
  }

  @media screen and (min-width: 600px) {
    #posts {
      margin: auto;
      width: 80%;
    }
  }
</style>

<Page title={title} description={description}>
  <section id="posts">
    <h1 id="posts--heading">All posts</h1>
    <br />
    <br />
    <PostsDisplay {posts} />
  </section>
</Page>
