---
import Page from '@components/Page.astro'
import PostsDisplay from '@components/PostsDisplay.astro'
import { Props } from 'astro'
import { getCollection } from 'astro:content'

const title: string = 'Blog | Igor Dimitrijević'
const description: string = 'My own blog'

const posts = (await getCollection('blog'))
  .filter((post) => {
    if (!post.data.draft) {
      return post
    }
  })
  .sort(
    (a, b) => Date.parse(b.data.publishDate) - Date.parse(a.data.publishDate)
  )
---

<style>
  #posts--heading {
    font-size: 1.5rem;
    margin-top: 0;
    text-align: center;
  }

  @media screen and (min-width: 600px) {
    #posts {
      margin: auto;
      width: 80%;
    }
  }
</style>

<Page title={title} description={description}>
  <section id="posts">
    <h1 id="posts--heading">All posts</h1>
    <br />
    <br />
    <PostsDisplay {posts} />
  </section>
</Page>
