---
import Page from '@components/Page.astro'
import { SiteName } from '@data/Site'
---

<Page
  title={`Contact | ${SiteName}`}
  description="Contact"
  keywords="contact,email,message,blog,igorskyflyer,igor dimitrijević,posts,it,javascript,typescript,code,programming,developer"
  featuredImage="">
  Contact
  <br />
  <form action="https://api.web3forms.com/submit" method="POST">
    <input
      type="hidden"
      name="access_key"
      value="d692d221-3dfb-44e6-8454-aad7563b95f7"
    />
    <input type="text" name="name" required />
    <input type="email" name="email" required />
    <textarea name="message" required></textarea>
    <div class="h-captcha" data-captcha="true"></div>
    <button type="submit">Submit</button>
  </form>

  <script src="https://web3forms.com/client/script.js" async defer></script>
</Page>
