---
const posts = await Astro.glob('./post/*.md')
---

<!DOCTYPE html>
<html style="background: #171424; color: #FFF;">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Blog</title>
  </head>
  <body>
    <main>
      <h1>🧠 The place where I like to express myself. 🦑</h1>

      <ul>
        {
          posts.map((post) => (
            <li>
              <a href={post.url}>{post.Content}</a>
            </li>
          ))
        }
      </ul>
    </main>
  </body>
</html>
