---
import Page from '@components/Page.astro'
import { SiteName } from '@data/Site'
---

<Page
  title={`Home | ${SiteName}`}
  description="Homepage"
  keywords="homepage,blog,igorskyflyer,igor dimitrijević,posts,it,javascript,typescript,code,programming,developer"
  featuredImage="">
  Homepage

  <div id="work">Work</div>

  <br />

  <div id="portfolio">Portfolio</div>
</Page>
