---
const { post } = Astro.props
---

<article>
  <h3>{post.frontmatter.title}</h3>
  <sub>{post.frontmatter.minutesRead}</sub>
  <br />
  <span>Post content</span>
  <br />
  <a href={post.url}>read more</a>
</article>
