<style>
  :root {
    --en-background: rgba(255, 255, 255, 0.3);
    --en-backgroundHover: #3869c2;
    --en-size: 48px;
    --en-border-radius: 6px;
    --en-offset: 10px;
    --en-fontSize: 30px;
    --en-animationTime: 180ms;
    --en-iconTop: '\25B2';
    --en-iconBottom: '\25BC';
  }

  @keyframes animation-content {
    0% {
      transform: scale(0);
    }

    100% {
      transform: scale(1);
    }
  }

  #easy-nav {
    display: block;
    position: fixed;
    width: var(--en-size);
    height: var(--en-size);
    bottom: var(--en-offset);
    left: var(--en-offset);
    z-index: 2;
    border-radius: var(--en-border-radius);
    background: var(--en-background);
  }

  #easy-nav:hover {
    background-color: var(--en-backgroundHover);
  }

  #easy-nav-button {
    display: block;
    width: var(--en-size);
    height: var(--en-size);
    margin: 0;
  }

  #easy-nav-button::before {
    display: block;
    width: var(--en-size);
    height: var(--en-size);
    content: var(--en-iconBottom);
    text-align: center;
    font-size: var(--en-fontSize);
    cursor: pointer;
  }

  #easy-nav-button.nav-up::before {
    content: var(--en-iconTop);
  }

  #easy-nav-button.animate::before {
    animation-name: animation-content;
    animation-duration: var(--en-animationTime);
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
</style>

<div id="easy-nav">
  <p id="easy-nav-button"></p>
</div>

<script is:inline>
  document.addEventListener('DOMContentLoaded', () => {
    const navButton = document.getElementById('easy-nav-button')

    function easyNavHandleScroll() {
      if (
        document.documentElement.scrollTop >=
        document.body.scrollHeight / 2
      ) {
        navButton.classList.add('nav-up')
        navButton.title = 'Go to top'
        navButton.onclick = () => {
          window.scrollTo(1, 1)
        }

        navButton.classList.remove('animate')

        const timeout = setTimeout(() => {
          navButton.classList.add('animate')
          clearTimeout(timeout)
        }, 0)
      } else {
        navButton.classList.remove('nav-up')
        navButton.title = 'Go to bottom'
        navButton.onclick = () => {
          window.scrollTo(0, document.body.scrollHeight)
        }

        navButton.classList.remove('animate')

        const timeout = setTimeout(() => {
          navButton.classList.add('animate')
          clearTimeout(timeout)
        }, 0)
      }
    }

    navButton.addEventListener('click', () => {
      window.scrollTo(0, document.body.scrollHeight)
    })

    document.removeEventListener('scrollend', easyNavHandleScroll)
    document.addEventListener('scrollend', easyNavHandleScroll)
  })
</script>
