---
import type { PageProps } from '@interfaces/PageProps'

import PageHead from '@components/PageHead.astro'
import PageFooter from '@components/PageFooter.astro'
import PageHeader from '@components/PageHeader.astro'

const { title, description, featuredImage } = Astro.props as PageProps

import '@styles/global.css'
---

<!DOCTYPE html>
<html lang="en">
  <PageHead title={title} description={description} featuredImage={featuredImage} />
  <body>
    <PageHeader />
    <main>
      <slot />
    </main>
    <PageFooter />
  </body>
</html>
