<header>
  <nav id="menu-navigation" role="navigation" aria-label="Site's menu">
    <input type="checkbox" id="menu-toggle" />
    <label
      id="hamburger-icon"
      aria-label="Open navigation menu"
      for="menu-toggle"
      ><svg viewBox="0 0 10 8" width="36" height="36"
        ><path d="M1 1h8M3 4h6M1 7h8" stroke="#fff" stroke-linecap="round"
        ></path></svg
      >
    </label>

    <div id="menu-blur"></div>

    <ul id="menu">
      <li><a href="/#">Home</a></li>
      <li><a href="/blog/#">Blog</a></li>
      <li><a href="/portfolio/#">Portfolio</a></li>
      <li>
        <a
          href="https://github.com/igorskyflyer"
          target="_blank"
          rel="noopener noreferrer">GitHub</a
        >
      </li>
      <li><a href="/contact/#">Contact</a></li>
      <li>
        <a
          href="https://ko-fi.com/igorskyflyer"
          target="_blank"
          rel="noopener noreferrer">Support me</a
        >
      </li>
      <li><a href="/privacy/#">Privacy</a></li>
      <li><a href="/about/#">About</a></li>
    </ul>
  </nav>
</header>
