---
---

<header>
  <ul id="menu">
    <li><a href="/">Home</a></li>

    <li><a href="/blog">Blog</a></li>

    <li><a href="/#work">Work</a></li>

    <li><a href="https://github.com/igorskyflyer" target="_blank">Github</a></li>

    <li><a href="/#portfolio">Portfolio</a></li>

    <li><a href="/about">About</a></li>
  </ul>
</header>
