---
import { getYear } from '@functions/utilities'
import { Icon } from 'astro-icon/components'

const year = getYear()
---

<footer>
  <a
    href="/rss.xml"
    rel="alternate"
    target="_blank"
    title="Read igorskyflyer.me's RSS Feed"
    class="footer-link-icon"><Icon name="mdi:rss" /></a
  >
  <a
    href="https://github.com/igorskyflyer"
    rel="external"
    target="_blank"
    title="Check my GitHub profile"
    class="footer-link-icon"><Icon name="mdi:github" /></a
  >
  <a
    href="http://igorskyflyer.me/contact/"
    target="_blank"
    title="Contact me via email"
    class="footer-link-icon"><Icon name="ic:outline-email" /></a
  >
  <a
    href="https://ko-fi.com/igorskyflyer"
    target="_blank"
    rel="external"
    title="Support my work"
    class="footer-link-icon"><Icon name="cib:ko-fi" /></a
  >
  <a
    href="https://www.linkedin.com/in/igor-dvlpr"
    rel="external"
    target="_blank"
    title="Contact me on LinkedIn"
    class="footer-link-icon"><Icon name="mdi:linkedin" /></a
  >
  <a
    href="https://www.instagram.com/igorskyflyer"
    rel="external"
    target="_blank"
    title="Check my daily update on Instagram"
    class="footer-link-icon"><Icon name="mdi:instagram" /></a
  >
  <a
    href="https://youtube.com/@igorskyflyer"
    rel="external"
    target="_blank"
    title="Watch my latest videos on YouTube"
    class="footer-link-icon"><Icon name="ri:youtube-fill" /></a
  >
  <br />
  <br />
  Built with <span id="footer-heart">&hearts;</span> and 🚀 Astro by <a
    href="/igorskyflyer/"
    id="footer-author">Igor Dimitrijević</a
  >.
  <br />
  &copy; {year}, all rights reserved.
</footer>
