---
import { getYear } from '@functions/utilities'

const year = getYear()
---

<style>
  footer {
    padding: 2rem 0.5rem;
    background: #160c34;
    text-align: center;
    font-size: 0.9rem;
  }

  footer a {
    color: #11bce2;
    text-decoration: none;
  }
</style>

<footer>
  &copy; {year}, all rights reserved
  <br />
  by <a href="/igorskyflyer/">Igor Dimitrijević</a>
</footer>
