---
import PageHead from '@components/PageHead.astro'
import PageFooter from '@components/PageFooter.astro'
import PageHeader from '@components/PageHeader.astro'

const { title, description, featuredImage } = Astro.props
---

<!doctype html>
<html lang="en">
  <PageHead
    title={title}
    description={description}
    featuredImage={featuredImage}
  />
  <body>
    <PageHeader />
    <main>
      <slot />
    </main>
    <PageFooter />
  </body>
</html>
