---
import BaseHead from '../components/BaseHead.astro'
import Footer from '../components/Footer.astro'
import type { PageProps } from '../components/interfaces/PageProps'

const { title, description, featuredImage } = Astro.props as PageProps
---

<!DOCTYPE html>
<html lang="en">
  <BaseHead title={title} description={description} featuredImage={featuredImage} />
  <body>
    <slot />
    <Footer />
  </body>
</html>
