---
import { getYear } from '@functions/utilities'

const year = getYear()
---

<footer>
  Built with &hearts; and Astro by <a href="/igorskyflyer/">Igor Dimitrijević</a>.
  <br />
  <br />
   &copy; {year}, all rights reserved.
</footer>
