---
import PageFooter from '@components/PageFooter.astro'
import PageHead from '@components/PageHead.astro'
import PageHeader from '@components/PageHeader.astro'
import { PageProps } from '@interfaces/PageProps'
import EasyNavButton from './EasyNavButton.astro'

const {
  title = '',
  description = '',
  featuredImage = '',
  keywords = ''
} = Astro.props as PageProps
---

<!doctype html>
<html lang="en" transition:animate="slide">
  <PageHead
    title={title}
    description={description}
    keywords={keywords}
    featuredImage={featuredImage}>
    <slot name="head" />
  </PageHead>
  <body>
    <PageHeader />
    <main>
      <slot />
    </main>
    <EasyNavButton />
    <PageFooter />
  </body>
</html>
