html,
body {
  padding: 0;
  margin: 0;
  background: #171424;
  color: #fff;
  /* dev: remove after */
  min-height: 100vh;
}

body {
  width: 88%;
  margin: 0 auto;
  padding: 2%;
  background: #0f0d17;
}

article {
	margin-bottom: 1rem;
}

article h3 {
	margin: 0;
}

article a {
  color: #fff;
  text-decoration: none;
}
