:root {
  --main-bg: #1e0c28;
  --main-text: #fff;
  --border-radius: 6px;
}

html,
body {
  padding: 0;
  margin: 0;
  background: var(--main-bg);
  color: var(--main-text);
  /* dev: remove after */
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

body {
  width: 96%;
  margin: 0 auto;
  padding: 2%;
  background: var(--main-bg);
}

article {
  margin-bottom: 1rem;
}

article h3 {
  margin: 0;
}

article a {
  color: var(--main-text);
  text-decoration: none;
}

header {
  margin-bottom: 2rem;
}

nav {
  text-align: right;
  overflow: hidden;
}

#menu {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 0;
  overflow: hidden;
  margin: 0;
  list-style-type: none;
  transition: all ease-in 0.4s;
}

#menu li {
  width: 100%;
}

#menu a {
  display: block;
  padding: 0.7rem 0.4rem;
  font-size: 1.4rem;
  color: var(--main-text);
  text-decoration: none;
  border-radius: var(--border-radius);
}

#menu a:hover {
  background: rgba(255, 255, 255, 0.08);
}

#hamburger-icon {
  display: block;
  margin-left: auto;
  padding: 0.35rem;
  width: 2rem;
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--main-text);
  text-align: center;
  border-radius: 50%;
  user-select: none;
  transition: all ease-in 0.4s;
}

#hamburger-icon:hover {
  background: rgba(255, 255, 255, 0.2);
}

#menu-toggle {
  display: none;
}

#menu-toggle:checked + #hamburger-icon {
  transform: rotate(90deg);
}

#menu-toggle:checked ~ #menu {
  height: 80vh;
  padding: 1rem 0 0 0;
}
