---
import Page from '@components/Page.astro'
import type { PageProps } from '@interfaces/PageProps'

const { frontmatter } = Astro.props
const { title, description, featuredImage } = frontmatter as PageProps
---

<style>
  div {
    text-align: center;
    margin: auto;
  }

  #author-img {
    max-width: 256px;
    clip-path: circle(50% at 53% 50%);
  }
</style>

<Page title={title} description={description} featuredImage={featuredImage}>
  <div>
    <img src="https://igorskyflyer.github.io/assets/igorskyflyer.jpg" alt="IgorSkyFlyer" id="author-img" />
  </div>
  <br />
  <slot />
</Page>
