---
import BaseHead from '../components/BaseHead.astro'

const { content } = Astro.props
const { title } = content
---

<html lang="en">
  <BaseHead {title} />
  <body>
    <slot />
  </body>
</html>
