---
import Page from '../components/Page.astro'
import type { PageProps } from '../components/interfaces/PageProps'

const { frontmatter } = Astro.props
const { title, description, featuredImage } = frontmatter as PageProps
---

<Page title={title} description={description} featuredImage={featuredImage}>
  <h2>{title}</h2>
  <slot />
</Page>
